@import url("https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@300&display=swap");

* {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --color-azul: rgb(35, 44, 81);
  --color-azul-oscuro: rgb(29, 30, 37);
  --color-gris: rgb(143, 148, 167);
  --color-gris-light: rgb(255, 239, 234);
  --color-blanquito: rgb(249, 249, 249);
  --color-naranja: rgb(242, 95, 58);
}

header {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  gap: 60px;
  color: var(--color-azul);
  text-decoration: none;
  font-weight: 500;
}

header nav ul a {
  color: var(--color-azul);
  text-decoration: none;
}

.button-header {
  background-color: var(--color-naranja);
  border: 0;
  border-radius: 30px;
  color: var(--color-gris-light);
  height: 40px;
  width: 130px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.button-naranjita {
  background-color: var(--color-gris-light);
  border: 0;
  border-radius: 30px;
  color: var(--color-naranja);
  height: 40px;
  width: 130px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.button-header:hover {
  cursor: pointer;
}

.button-naranjita:hover {
  cursor: pointer;
}

body::before {
  background-image: url(../img/bg-tablet-pattern.svg);
  content: "";
  position: absolute;
  top: -150px;
  right: 0px;
  width: 38rem;
  height: 43rem;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1000;
}

body::after {
  background-image: url(../img/bg-tablet-pattern.svg);
  content: "";
  position: absolute;
  left: -250px;
  bottom: -500px;
  width: 38rem;
  height: 43rem;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1000;
}

.logo {
  margin-top: 1rem;
}

main {
  margin-top: 8rem;
}

h1 {
  font-size: 40px;
  color: var(--color-azul);
  margin: 0;
}

.articles_top {
  display: flex;
  max-width: 340px;
  min-width: 312px;
}
.bring_everyone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}

.top_articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.top_articles2 {
  margin-top: -4rem;
}

h2 {
  font-size: 28px;
  color: var(--color-azul);
  margin: 0;
}

.article2_dif {
  margin-left: 14rem;
  margin-top: 5rem;
}

.p_margin {
  margin-bottom: 6rem;
  width: 500;
}

.spans_article2 {
  font-size: 20px;
  color: var(--color-azul);
  margin: 0;
  width: 900;
}

.articles_top2 {
  display: flex;
  max-width: 500px;
  min-width: 312px;
}

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: step-counter;
}
.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 5px;
}
.custom-counter li::before {
  content: "0" counter(step-counter);
  margin-right: 20px;
  font-size: 130%;
  background-color: var(--color-naranja);
  color: white;
  font-weight: bold;
  padding: 3px 16px;
  border-radius: 30px;
}

.lista_dif {
  margin-left: 2rem;
  margin-top: 0.1rem;
}

.parrafos_margen {
  margin-left: 5rem;
  color: var(--color-gris);
}

.centrarh2 {
  text-align: center;
}

.color_gris {
  color: var(--color-gris);
}

/*carrusel*/
.carrusel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.carrusel article:nth-child(2) {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}

.carrusel__card {
  width: 33%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blanquito);
  box-sizing: border-box;
  padding: 30px;
  margin-top: 150px;
  text-align: center;
  line-height: 156.6%;
}

label .exponente img {
  width: 100px;
  margin-top: -80%;
}

label .exp__name {
  color: var(--color-azul);
  font-weight: 700;
}

.carrusel__card div:nth-child(3) {
  text-align: center;
  color: var(--color-gris);
}

.carrusel article:nth-child(3) {
  text-align: center;
}

#carruselNav input[type="radio"] {
  display: none;
}

h3 {
  display: inline;
  font-size: 16px;
  color: var(--color-azul);
  width: 700;
}

/* parte naranjita*/
.naranjita_abajo {
  background-color: var(--color-naranja);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 3rem 2rem 3rem;
  margin-top: 10rem;
}

.naranjita_arriba {
  font-size: 20px;
  max-width: 438px;
  min-width: 310px;
  margin-left: 3rem;
  height: 100px;
  margin-top: 5rem;
  z-index: 4;
}

.naranjita_arriba h2 {
  margin: 0;
  color: var(--color-gris-light);
  font-size: 30px;
  width: 700;
}

/*footer*/
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer_color {
  background-color: var(--color-azul-oscuro);
}
.sociales {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 3rem 2rem 3rem;
  flex-wrap: wrap;
}
.sociales .footer__inputs {
  width: 33%;
  min-width: 290px;
}
.footer__inputs.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 135px;
}

.footer__inputs.redes article:nth-child(2) {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.footer__inputs.navegacion {
  display: flex;
  justify-content: space-between;
}

.footer_columnas .noClass {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.noClass li a {
  text-decoration: none;
  color: var(--color-blanquito);
}
.noClass li {
  margin-top: 10px;
}
.noClass li a:hover {
  color: var(--color-naranja);
}

.footer__inputs.email {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.footer__inputs.email label:nth-child(1) input {
  height: 30px;
  margin: 0.5rem;
  border: 0;
  border-radius: 30px;
}
.footer__inputs.email label .go {
  background-color: var(--color-naranja);
  border: 0;
  border-radius: 30px;
  margin: 0.5rem;
  width: 70px;
  height: 30px;
  color: var(--color-blanquito);
}
label .go:hover {
  cursor: pointer;
}

.Copyright {
  text-align: end;
  box-sizing: border-box;
  padding-right: 5rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
  color: var(--color-gris);
}

input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}

.margin_log2 {
  margin-top: 3rem;
}

i {
  color: var(--color-blanquito);
}

i:hover {
  color: var(--color-naranja);
}

/*intento de botones animados*/

.button-header:hover {
  background-color: var(--color-gris);
}

.button-header:active {
  background-color: var(--color-azul-oscuro);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-naranjita:hover {
  background-color: var(--color-gris);
}

.button-naranjita:active {
  background-color: var(--color-azul-oscuro);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer__inputs.email label .go:hover {
  background-color: var(--color-gris);
}

.footer__inputs.email label .go:active {
  background-color: var(--color-azul-oscuro);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*viwport mobile*/
@media (max-width: 375px) {
  header nav {
    display: none;
  }
}
