@import url("https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@300&display=swap");

* {
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

:root {
  --color-azul: rgb(35, 44, 81);
  --color-azul-oscuro: rgb(29, 30, 37);
  --color-gris: rgb(143, 148, 167);
  --color-gris-light: rgb(255, 239, 234);
  --color-blanquito: rgb(249, 249, 249);
  --color-naranja: rgb(242, 95, 58);
}

header {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  gap: 60px;
  color: var(--color-azul);
  text-decoration: none;
  font-weight: 500;
}

header nav ul a {
  color: var(--color-azul);
  text-decoration: none;
}

.button-header {
  background-color: var(--color-naranja);
  border: 0;
  border-radius: 30px;
  color: var(--color-gris-light);
  height: 40px;
  width: 130px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.button-header:hover {
  cursor: pointer;
}

body::before {
  background-image: url(../img/bg-tablet-pattern.svg);
  content: "";
  position: absolute;
  top: -150px;
  right: 0px;
  width: 38rem;
  height: 43rem;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1000;
}

body::after {
  background-image: url(../img/bg-tablet-pattern.svg);
  content: "";
  position: absolute;
  left: -250px;
  bottom: -500px;
  width: 38rem;
  height: 43rem;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1000;
}

main {
  margin-top: 8rem;
}

h1 {
  font-size: 40px;
  color: var(--color-azul);
  margin: 0;
}

.articles_top {
  display: flex;
  max-width: 340px;
  min-width: 312px;
}
.bring_everyone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}

.top_articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.top_articles2 {
  margin-top: -4rem;
}


